#main_container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #ecedf2;
    padding: 20px;
}

#middle_container{
    background-color: #a9abb3;
    padding:20px;
}

#top_container{
    background-color: #d0ccca;
    padding:10px;
}

#main_section{
    background-color: #5e94ea;
    padding:10px;
}

#table-render-space{
    background-color: #ffe0c5;
    padding:10px;
}

#table-html-space{
    background-color: #ff4500;
    padding:10px;
}

form{
    display:flex;
    justify-content: space-evenly;
}

section input{
    margin:auto;
    width:80%;
}

table{
    margin:auto;
}

textarea{
    width:99%;
    resize:none;
}

label{
    margin:auto;
}

header, footer{
    background-color:#364982;
    padding: 20px;
    text-align:center;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
}

#bold{
    font-weight: bold;
}